.nbm-map {
	height: 400px;
	margin-bottom:0.65em;
}

@font-face {
	font-family: 'icomoon';
	src:url('img/fonts/icomoon.eot');
	src:url('img/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('img/fonts/icomoon.woff') format('woff'),
		url('img/fonts/icomoon.ttf') format('truetype'),
		url('img/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@-webkit-keyframes bounce{
	0%{margin-top:0;}
	30%{margin-top:-6.5px;}
	40%{margin-top:-8px;}
	45%{margin-top:-9.5px;}
	50%{margin-top:-10px;}
	55%{margin-top:-9.5px;}
	60%{margin-top:-8px;}
	70%{margin-top:-6.5px;}
	100%{margin-top:0;}
}
@-moz-keyframes bounce{
	0%{margin-top:0;}
	30%{margin-top:-6.5px;}
	40%{margin-top:-8px;}
	45%{margin-top:-9.5px;}
	50%{margin-top:-10px;}
	55%{margin-top:-9.5px;}
	60%{margin-top:-8px;}
	70%{margin-top:-6.5px;}
	100%{margin-top:0;}
}
keyframes bounce{
	0%{margin-top:0;}
	30%{margin-top:-6.5px;}
	40%{margin-top:-8px;}
	45%{margin-top:-9.5px;}
	50%{margin-top:-10px;}
	55%{margin-top:-9.5px;}
	60%{margin-top:-8px;}
	70%{margin-top:-6.5px;}
	100%{margin-top:0;}
}

@-webkit-keyframes bounce-shadow{
	0%{opacity:1;}
	30%{opacity:0.9;}
	40%{opacity:0.8;}
	45%{opacity:0.75;}
	50%{opacity:0.7;}
	55%{opacity:0.75;}
	60%{opacity:0.8;}
	70%{opacity:0.9;}
	100%{opacity:1;}
}
@-moz-keyframes bounce-shadow{
	0%{opacity:1;}
	30%{opacity:0.9;}
	40%{opacity:0.8;}
	45%{opacity:0.75;}
	50%{opacity:0.7;}
	55%{opacity:0.75;}
	60%{opacity:0.8;}
	70%{opacity:0.9;}
	100%{opacity:1;}
}
keyframes bounce-shadow{
	0%{opacity:1;}
	30%{opacity:0.9;}
	40%{opacity:0.8;}
	45%{opacity:0.75;}
	50%{opacity:0.7;}
	55%{opacity:0.75;}
	60%{opacity:0.8;}
	70%{opacity:0.9;}
	100%{opacity:1;}
}

 .nbm-icon:hover .icon,
 .nbm-icon .icon.hover{
	-webkit-animation: bounce linear 0.4s infinite;
	-moz-animation: bounce linear 0.4s infinite;
	animation: bounce linear 0.4s infinite;
}
.leaflet-container .leaflet-map-pane img{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.nbm-icon .icon{
	position:relative;
	width:32px;
	padding-top:9px;
	height:44px;
	display:block;
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	line-height: 1;
	font-size:14px;
	-webkit-font-smoothing: antialiased;
	text-align:center;
	color:#FFF;
	text-shadow:0 1px 1px #000;
	text-shadow:0 1px 1px rgba(0,0,0,0.8);
	z-index:20;
}
.nbm-icon .type-letter{
	font-family: sans-serif;
}
.nbm-icon.medium .icon{
	width:48px;
	/*height:52px;*/
	height:61px;
	font-size:20px;
	line-height:32px;
}
.nbm-icon.large .icon{
	width:55px;
	height:67px;
	font-size:24px;
	line-height:40px;
}

.nbm-icon.blue .icon{background:url(img/pins/blue.png);}
.nbm-icon.blue.medium .icon{background:url(img/pins/blue-medium.png);}
.nbm-icon.blue.large .icon{background:url(img/pins/blue-large.png);}
.nbm-icon.blue.pin .icon{background:url(img/pins/blue-pin.png);}

.nbm-icon.navy .icon{background:url(img/pins/navy.png);}
.nbm-icon.navy.medium .icon{background:url(img/pins/navy-medium.png);}
.nbm-icon.navy.large .icon{background:url(img/pins/navy-large.png);}
.nbm-icon.navy.pin .icon{background:url(img/pins/navy-pin.png);}

.nbm-icon.brown .icon{background:url(img/pins/brown.png);}
.nbm-icon.brown.medium .icon{background:url(img/pins/brown-medium.png);}
.nbm-icon.brown.large .icon{background:url(img/pins/brown-large.png);}
.nbm-icon.brown.pin .icon{background:url(img/pins/brown-pin.png);}

.nbm-icon.lightbrown .icon{background:url(img/pins/lightbrown.png);}
.nbm-icon.lightbrown.medium .icon{background:url(img/pins/lightbrown-medium.png);}
.nbm-icon.lightbrown.large .icon{background:url(img/pins/lightbrown-large.png);}
.nbm-icon.lightbrown.pin .icon{background:url(img/pins/lightbrown-pin.png);}

.nbm-icon.green .icon{background:url(img/pins/green.png);}
.nbm-icon.green.medium .icon{background:url(img/pins/green-medium.png);}
.nbm-icon.green.large .icon{background:url(img/pins/green-large.png);}
.nbm-icon.green.pin .icon{background:url(img/pins/green-large.png);}

.nbm-icon.darkgreen .icon{background:url(img/pins/darkgreen.png);}
.nbm-icon.darkgreen.medium .icon{background:url(img/pins/darkgreen-medium.png);}
.nbm-icon.darkgreen.large .icon{background:url(img/pins/darkgreen-large.png);}
.nbm-icon.darkgreen.pin .icon{background:url(img/pins/darkgreen-large.png);}

.nbm-icon.grey .icon{background:url(img/pins/grey.png);}
.nbm-icon.grey.medium .icon{background:url(img/pins/grey-medium.png);}
.nbm-icon.grey.large .icon{background:url(img/pins/grey-large.png);}
.nbm-icon.grey.pin .icon{background:url(img/pins/grey-pin.pin);}

.nbm-icon.lightgrey .icon{background:url(img/pins/lightgrey.png);}
.nbm-icon.lightgrey.medium .icon{background:url(img/pins/lightgrey-medium.png);}
.nbm-icon.lightgrey.large .icon{background:url(img/pins/lightgrey-large.png);}
.nbm-icon.lightgrey.pin .icon{background:url(img/pins/lightgrey-pin.png);}

.nbm-icon.orange .icon{background:url(img/pins/orange.png);}
.nbm-icon.orange.medium .icon{background:url(img/pins/orange-medium.png);}
.nbm-icon.orange.large .icon{background:url(img/pins/orange-large.png);}
.nbm-icon.orange.pin .icon{background:url(img/pins/orange-pin.png);}

.nbm-icon.lightorange .icon{background:url(img/pins/lightorange.png);}
.nbm-icon.lightorange.medium .icon{background:url(img/pins/lightorange-medium.png);}
.nbm-icon.lightorange.large .icon{background:url(img/pins/lightorange-large.png);}
.nbm-icon.lightorange.pin .icon{background:url(img/pins/lightorange-pin.png);}

.nbm-icon.pink .icon{background:url(img/pins/pink.png);}
.nbm-icon.pink.medium .icon{background:url(img/pins/pink-medium.png);}
.nbm-icon.pink.large .icon{background:url(img/pins/pink-large.png);}
.nbm-icon.pink.pin .icon{background:url(img/pins/pink-pin.png);}

.nbm-icon.lightpink .icon{background:url(img/pins/lightpink.png);}
.nbm-icon.lightpink.medium .icon{background:url(img/pins/lightpink-medium.png);}
.nbm-icon.lightpink.large .icon{background:url(img/pins/lightpink-large.png);}
.nbm-icon.lightpink.pin .icon{background:url(img/pins/lightpink-pin.png);}

.nbm-icon.red .icon{background:url(img/pins/red.png);}
.nbm-icon.red.medium .icon{background:url(img/pins/red-medium.png);}
.nbm-icon.red.large .icon{background:url(img/pins/red-large.png);}
.nbm-icon.red.pin .icon{background:url(img/pins/red-pin.png);}

.nbm-icon.fire .icon{background:url(img/pins/fire.png);}
.nbm-icon.fire.medium .icon{background:url(img/pins/fire-medium.png);}
.nbm-icon.fire.large .icon{background:url(img/pins/fire-large.png);}
.nbm-icon.fire.pin .icon{background:url(img/pins/fire-pin.png);}

.nbm-icon.purple .icon{background:url(img/pins/purple.png);}
.nbm-icon.purple.medium .icon{background:url(img/pins/purple-medium.png);}
.nbm-icon.purple.large .icon{background:url(img/pins/purple-large.png);}
.nbm-icon.purple.pin .icon{background:url(img/pins/purple-pin.png);}

.nbm-icon.lavande .icon{background:url(img/pins/lavande.png);}
.nbm-icon.lavande.medium .icon{background:url(img/pins/lavande-medium.png);}
.nbm-icon.lavande.large .icon{background:url(img/pins/lavande-large.png);}
.nbm-icon.lavande.pin .icon{background:url(img/pins/lavande-pin.png);}

.nbm-icon.yellow .icon{background:url(img/pins/yellow.png);}
.nbm-icon.yellow.medium .icon{background:url(img/pins/yellow-medium.png);}
.nbm-icon.yellow.large .icon{background:url(img/pins/yellow-large.png);}
.nbm-icon.yellow.pin .icon{background:url(img/pins/yellow-pin.png);}

.nbm-icon.realyellow .icon{background:url(img/pins/realyellow.png);}
.nbm-icon.realyellow.medium .icon{background:url(img/pins/realyellow-medium.png);}
.nbm-icon.realyellow.large .icon{background:url(img/pins/realyellow-large.png);}
.nbm-icon.realyellow.pin .icon{background:url(img/pins/realyellow-pin.png);}

.popup-title{
	font:bold italic 1.2em Georgia, serif;
	text-align:center;
	display:block;
}
.marker-datas{
	text-align:center;
	font-size:1.5em;
}
.marker-datas a{
	font-family: 'icomoon';
	text-decoration:none;
	color:#222;
	margin:0 0.25em;
}
.nbm-icon .central-point{
	display:block;
	/*background:url(img/pins/couronne.png);*/
	width:41px;
	height:21px;
	position:absolute;
	bottom:-9px;
	left:-4px;
	z-index:18;
	border: 1px dashed #FFF;
	border-radius: 50%;
}
.nbm-icon.medium .central-point{left:4px;}
.nbm-icon.large .central-point{left:8px;}
.nbm-icon .shadow{
	display:block;
	background:url(img/pins/shadow.png);
	width:22px;
	height:14px;
	position:absolute;
	bottom:-5px;
	left:6px;
	z-index:19;
}
.nbm-icon.medium .shadow{left:14px;}
.nbm-icon.large .shadow{left:18px;}

.nbm-icon:hover .shadow,
.nbm-icon:focus .shadow,
.nbm-icon:active .shadow{
	-webkit-animation: bounce-shadow linear 0.4s infinite;
	-moz-animation: bounce-shadow linear 0.4s infinite;
	animation: bounce-shadow linear 0.4s infinite;
}
.nbm-all-places{
	position:relative;
	z-index:2;

	/* line-height: 0; */

   /*-webkit-column-count: 2;
   -webkit-column-gap:   10px;
   -moz-column-count:    2;
   -moz-column-gap:      10px;
   column-count:         2;
   column-gap:           10px;*/
}
.nbm-more{
	display:inline-block;
	width:100%;
	position:relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px;
	border:1px solid #e4e4e4;
	margin-bottom:0.5em;
	background:#FFF;
	vertical-align:top;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.nbm-more:hover,
.nbm-more.hover{
	padding:10px 5px 10px 15px;
}
.nbm-more.blue:hover,
.nbm-more.blue.hover{
	border-color:#8bc6dd;
	-webkit-box-shadow: inset 5px 0 0 #8bc6dd;
	-moz-box-shadow: inset 5px 0 0 #8bc6dd;
	box-shadow: inset 5px 0 0 #8bc6dd;
}
.nbm-more.navy:hover,
.nbm-more.navy.hover{
	border-color:#247ba1;
	-webkit-box-shadow: inset 5px 0 0 #247ba1;
	-moz-box-shadow: inset 5px 0 0 #247ba1;
	box-shadow: inset 5px 0 0 #247ba1;
}
.nbm-more.brown:hover,
.nbm-more.brown.hover{
	border-color:#b27349;
	-webkit-box-shadow: inset 5px 0 0 #b27349;
	-moz-box-shadow: inset 5px 0 0 #b27349;
	box-shadow: inset 5px 0 0 #b27349;
}
.nbm-more.lightbrown:hover,
.nbm-more.lightbrown.hover{
	border-color:#da804b;
	-webkit-box-shadow: inset 5px 0 0 #da804b;
	-moz-box-shadow: inset 5px 0 0 #da804b;
	box-shadow: inset 5px 0 0 #da804b;
}
.nbm-more.green:hover,
.nbm-more.green.hover{
	border-color:#87a85f;
	-webkit-box-shadow: inset 5px 0 0 #87a85f;
	-moz-box-shadow: inset 5px 0 0 #87a85f;
	box-shadow: inset 5px 0 0 #87a85f;
}
.nbm-more.darkgreen:hover,
.nbm-more.darkgreen.hover{
	border-color:#4a6926;
	-webkit-box-shadow: inset 5px 0 0 #4a6926;
	-moz-box-shadow: inset 5px 0 0 #4a6926;
	box-shadow: inset 5px 0 0 #4a6926;
}
.nbm-more.grey:hover,
.nbm-more.grey.hover{
	border-color:#485a61;
	-webkit-box-shadow: inset 5px 0 0 #485a61;
	-moz-box-shadow: inset 5px 0 0 #485a61;
	box-shadow: inset 5px 0 0 #485a61;
}
.nbm-more.lightgrey:hover,
.nbm-more.lightgrey.hover{
	border-color:#bfbfbf;
	-webkit-box-shadow: inset 5px 0 0 #bfbfbf;
	-moz-box-shadow: inset 5px 0 0 #bfbfbf;
	box-shadow: inset 5px 0 0 #bfbfbf;
}
.nbm-more.orange:hover,
.nbm-more.orange.hover{
	border-color:#e09749;
	-webkit-box-shadow: inset 5px 0 0 #e09749;
	-moz-box-shadow: inset 5px 0 0 #e09749;
	box-shadow: inset 5px 0 0 #e09749;
}
.nbm-more.lightorange:hover,
.nbm-more.lightorange.hover{
	border-color:#d45e00;
	-webkit-box-shadow: inset 5px 0 0 #d45e00;
	-moz-box-shadow: inset 5px 0 0 #d45e00;
	box-shadow: inset 5px 0 0 #d45e00;
}
.nbm-more.pink:hover,
.nbm-more.pink.hover{
	border-color:#dc5888;
	-webkit-box-shadow: inset 5px 0 0 #dc5888;
	-moz-box-shadow: inset 5px 0 0 #dc5888;
	box-shadow: inset 5px 0 0 #dc5888;
}
.nbm-more.lightpink:hover,
.nbm-more.lightpink.hover{
	border-color:#f978a1;
	-webkit-box-shadow: inset 5px 0 0 #f978a1;
	-moz-box-shadow: inset 5px 0 0 #f978a1;
	box-shadow: inset 5px 0 0 #f978a1;
}
.nbm-more.purple:hover,
.nbm-more.purple.hover{
	border-color:#6e5da5;
	-webkit-box-shadow: inset 5px 0 0 #6e5da5;
	-moz-box-shadow: inset 5px 0 0 #6e5da5;
	box-shadow: inset 5px 0 0 #6e5da5;
}
.nbm-more.lavande:hover,
.nbm-more.lavande.hover{
	border-color:#7b67cb;
	-webkit-box-shadow: inset 5px 0 0 #7b67cb;
	-moz-box-shadow: inset 5px 0 0 #7b67cb;
	box-shadow: inset 5px 0 0 #7b67cb;
}
.nbm-more.red:hover,
.nbm-more.red.hover{
	border-color:#853c3c;
	-webkit-box-shadow: inset 5px 0 0 #853c3c;
	-moz-box-shadow: inset 5px 0 0 #853c3c;
	box-shadow: inset 5px 0 0 #853c3c;
}
.nbm-more.fire:hover,
.nbm-more.fire.hover{
	border-color:#ef1616;
	-webkit-box-shadow: inset 5px 0 0 #ef1616;
	-moz-box-shadow: inset 5px 0 0 #ef1616;
	box-shadow: inset 5px 0 0 #ef1616;
}
.nbm-more.yellow:hover,
.nbm-more.yellow.hover{
	border-color:#dab049;
	-webkit-box-shadow: inset 5px 0 0 #dab049;
	-moz-box-shadow: inset 5px 0 0 #dab049;
	box-shadow: inset 5px 0 0 #dab049;
}
.nbm-more.realyellow:hover,
.nbm-more.realyellow.hover{
	border-color:#f6ab19;
	-webkit-box-shadow: inset 5px 0 0 #f6ab19;
	-moz-box-shadow: inset 5px 0 0 #f6ab19;
	box-shadow: inset 5px 0 0 #f6ab19;
}
.nbm-distance{
	float:right;
}
.nbm-more-link{
	position:absolute;
	right:5px;
	bottom:5px;
}
.nbm-infos-comp{
	margin-bottom:1.28em;
}
.nbm-info-comp,
.nbm-more-link{
	font-size:0.9em;
}
.nbm-info-pict{
	float:left;
	margin-right:10px;
	height:auto;
}
.nbm-pict{
	font-family: 'icomoon';
	-webkit-font-smoothing: antialiased;
	font-size:4em;
	width:1.75em;
	text-align:center;
}
.nbm-letter{
	font-family: sans-serif;
}
.nbm-pict.blue{
	color:#8bc6dd;
}
.nbm-pict.navy{
	color:#247ba1;
}
.nbm-pict.brown{
	color:#b27349;
}
.nbm-pict.lightbrown{
	color:#da804b;
}
.nbm-pict.green{
	color:#87a85f;
}
.nbm-pict.darkgreen{
	color:#4a6926;
}
.nbm-pict.grey{
	color:#485a61;
}
.nbm-pict.lightgrey{
	color:#bfbfbf;
}
.nbm-pict.orange{
	color:#e09749;
}
.nbm-pict.lightorange{
	color:#d45e00;
}
.nbm-pict.pink{
	color:#dc5888;
}
.nbm-pict.lightpink{
	color:#f978a1;
}
.nbm-pict.purple{
	color:#6e5da5;
}
.nbm-pict.lavande{
	color:#7b67cb;
}
.nbm-pict.red{
	color:#853c3c;
}
.nbm-pict.fire{
	color:#ef1616;
}
.nbm-pict.yellow{
	color:#dab049;
}
.nbm-pict.realyellow{
	color:#f6ab19;
}
.nbm-route-form{
	position:relative;
	padding:1em;
	border:1px solid #e4e4e4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nbm-route-selects{
	position:relative;
}
.hidden{
	display:none;
}
.nbm-route{
	width:100%;
}
.nbm-route-point{
	width:45%;
	float:left;
}
.nbm-select,
.nbm-route-custom-point{
	width:100%;
	padding:1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nbm-route-to{
	float:right;
}
.nbm-sep{
	font-size:2em;
	font-weight:bold;
	text-align:center;
	width:1em;
	height:1em;
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-0.5em;
	margin-top:-0.25em;
}
.nbm-reset-before-options{
	clear:both;
	position:relative;
	display:block;
}
.nbm-route .nbm-show-route-options,
.nbm-route .nbm-route-submit{
	margin-top:0.5em;
	border:1px solid #d2d2d2;
	padding:0.5em;
	font-size:12px;
	font-size:0.8rem;
	display:block;
	border-radius:3px;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
.nbm-route .nbm-show-route-options:hover,
.nbm-route .nbm-route-submit:hover{
	color:#222;
	cursor:pointer;
}
.nbm-route .nbm-show-route-options:active,
.nbm-route .nbm-route-submit:active{
	background:#222;
	color:#FFF;
	cursor:pointer;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.nbm-route-title{
	font-size:1.175em;
	margin:1em 0 0.25em;
}
.nbm-route-instr{
	padding-right:50px;
}
.nbm-route-instr span{
	font-weight:bold;
}
.route-detail{
	position:relative;
	border-bottom:1px dotted #cecece;
}
.nbm-route-dist{
	position:absolute;
	top:2px;
	right:2px;
	text-align:right;
	font-style:italic;
}

.nbm-item-place{
	position:relative;
	padding:1em;
	border:1px solid #e4e4e4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (max-width:800px){
	.nbm-all-places{
	   -webkit-column-count: 1;
	   -moz-column-count:    1;
	   column-count:         1;
	}
}
.route-details{
	display:none;
	cursor: default;
}
.route0-detail{
}
.route-detail:nth-child(even){
	background-color: #eee;
}
.route-detail:hover{
	background-color: #ddd;
	font-weight: bold;
}
.route-detail:hover .nbm-route-dist{
}
.more-options{
	float: right;
}
.nbm-route-options{
	background-color: #eee;
	padding: 5px;
}
.nbm-route-submit img{
	margin: 0;
	padding: 0;
}