.nbmpreview{
	background: #c3c9cb;
	float: left;
	padding: 4px;
	position: relative;
	margin: 10px 10px 0 0;
}
label input.nbmstyle:checked + .nbmpreview, label input.nbmstyle:checked + .nbmpreview .name-wrapper{
	background: #feab48;
}
.nbmpreview{
	height: 200px;
	width: 200px;
}
.nbmpreview .preview{
	height: 200px;
	overflow: hidden;
	position: relative;
	width: 200px;
}
.nbmpreview .preview img{
	border: none;
	left: -150px;
	position: absolute;
	top: -110px;
}
.nbmpreview .name-wrapper{
	background: #c3c9cb;
	height: 18px;
	overflow: hidden;
	padding: 0 5px 3px 3px;
	position: absolute;
	width: auto;
}
.nbmpreview h4{
	float: left;
	line-height: 12px;
	margin: 4px 0;
	white-space: nowrap;
}
.nbmpreview .style-id{
	bottom: 4px;
	position: absolute;
	right: 4px;
}