@font-face {
	font-family: 'icomoon';
	src:url('img/fonts/icomoon.eot');
	src:url('img/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('img/fonts/icomoon.woff') format('woff'),
		url('img/fonts/icomoon.ttf') format('truetype'),
		url('img/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.nbm-color label{
	display:inline-block;
	margin:10px;
}
.nbm-size label{
	display:inline-block;
	margin:10px;
}
.nbm-color:hover label,
.nbm-color:focus label,
.nbm-color:active label,
.nbm-color input:checked + label,
.nbm-letter:hover label,
.nbm-letter:focus label,
.nbm-letter:active label,
.nbm-letter input:checked + label,
.nbm-size:hover label,
.nbm-size:focus label,
.nbm-size:active label,
.nbm-size input:checked + label
{
	border:2px dashed #000;
	margin:8px;
}
.nbm-letter label{
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	width:1em;
	text-align:center;
	padding:5px;
	font-size:2em;
	margin:10px;
	display:inline-block;
}
.nbm-color input,
.nbm-letter input,
.nbm-size input
{display:none;}

#mappreview{
	background: transparent url(img/preview.png);
	border: 1px dotted;
	display: inline-block;
	float: right;
	height: 120px;
	line-height: 17;
	text-align: center;
	vertical-align: -15%;
	width: 120px;
}

#mappreview span{
	position: absolute;
	margin: 0 auto;
	display: block;
	color: white;
	padding-left: 4px;
}
#mappreview span.icon{
	font-family: 'icomoon';
}
#mappreview span.small, #mappreview span.pin{
	font-size: 1.2em;
	line-height: 11;
	right: 67px;
}
#mappreview span.medium{
	font-size: 1.5em;
	line-height: 8;
	right: 65px;
}
#mappreview span.large{
	line-height: 6;
	font-size: 1.8em;
	right: 63px;
	top: -2px;
}

